.container {
  display: flex;
  margin: 1rem 5.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}

.heading > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingOne {
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.headingOneColor {
  color: #7611f7;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 3rem;
}

.headingTwo {
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  color: #7611f7;
  font-size: 3rem;
  margin-top: 20px;
}

.blocks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.right {
  max-width: 400px;
  padding: 40px;
}

.right > img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #7611f7;
  margin-bottom: 40px;
}

.left {
  max-width: 600px;
}

.services {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.services > img {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #7611f7;
  margin-right: 25px;
}

.services > span {
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  line-height: 2rem;
}
