.container {
  color: white;
  padding: 1rem 5.5rem;
  padding-top: 0;
  margin-top: 100px;
}

.backGround {
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 0.3px solid #7611f7;
}

.content {
  width: 100%;
  padding-top: 264px;
  padding-left: 250px;
}

.title {
  font-size: 3.2rem;
  letter-spacing: 4px;
  word-spacing: 12px;
  line-height: 4rem;
}

.title:before {
  color: #7611f7;
  content: 'SECURITY ';
  font-size: 3.5rem;
}

.discription {
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  word-spacing: 4px;
  line-height: 2rem;
}

.btn {
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 60px;
}
