.container {
  margin: 2rem 5.5rem;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  border: 2px solid #7611f7;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}

.heading > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingOne {
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.headingOneColor {
  color: #7611f7;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 3rem;
}

.headingTwo {
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  color: #7611f7;
  font-size: 3rem;
  margin-top: 20px;
}

.discription {
  font-size: 1rem;
  letter-spacing: 1.2px;
  word-spacing: 2.5px;
  line-height: 1.7rem;
  margin-top: 0;
  text-transform: capitalize;
}

.options1 {
  margin-top: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.option1 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  border-radius: 20px;
  width: 160px;
  height: 180px;
}

.option1 > img {
  width: 6rem;
  height: 6rem;
}

.options2 {
  margin-top: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.option2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  border-radius: 20px;
  width: 160px;
  height: 180px;
}

.option2 > img {
  width: 6rem;
  height: 6rem;
}
