.container {
  color: white;
  padding: 2rem 5.5rem;
  display: flex;
  flex-direction: column;
}

.bgImg {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #7611f7;
  padding: 2rem;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}

.first > p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1.7px;
  line-height: 1.7rem;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  max-width: 350px;
  list-style: none;
}

.second > h4 {
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  word-spacing: 3px;
  line-height: 2rem;
  margin-bottom: 55px;
}

.list1 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1.7px;
  line-height: 1.7rem;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  max-width: 350px;
  list-style: none;
}

.third > h4 {
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  word-spacing: 3px;
  line-height: 2rem;
  margin-bottom: 55px;
}

.list2 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1.7px;
  line-height: 1.7rem;
}

.fourth {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  max-width: 400px;
}

.fourth > h4 {
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  word-spacing: 3px;
  line-height: 2rem;
  margin-bottom: 55px;
}

.address {
  display: flex;
}

.address > p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1.7px;
  line-height: 1.7rem;
  margin-left: 20px;
  text-transform: capitalize;
}

.email {
  display: flex;
}

.email > p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1.7px;
  line-height: 1.7rem;
  margin-left: 31px;
  text-transform: capitalize;
}

.lastLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
  color: white;
}

.lastLine > p {
  font-size: 1rem;
  letter-spacing: 1.2px;
  word-spacing: 1.8px;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  margin-top: 5px;
}
