.container {
  display: flex;
  padding: 2rem 5.5rem;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 2.3rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-transform: uppercase;
}

.colors {
  color: #7611f7;
  font-size: 2.7rem;
  margin-left: 27px;
}

.cards {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 470px;
  width: 300px;
  padding: 30px 30px;
  position: relative;
}

.cardImg {
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #7611f7;
  /* filter: blur(8px); */
}

.card > h3 {
  position: absolute;
  top: 22%;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  word-spacing: 2.2px;
  text-transform: capitalize;
  font-weight: 500;
}

.card > p {
  padding: 0 20px 0 0;
  position: absolute;
  top: 35%;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  word-spacing: 2.1px;
  line-height: 1.7rem;
  text-transform: capitalize;
}

.bottom {
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 30px;
  width: 96%;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left > h2 {
  margin-bottom: 0;
  padding: 20px;
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  word-spacing: 2.2px;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.leftImg {
  height: 3rem;
  margin-top: 40px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right > img {
  height: 160px;
}
