.container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 2.3rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-transform: uppercase;
}

.colors {
  color: #7611f7;
  margin-left: 17px;
}

.cards {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 570px;
  width: 350px;
  padding: 30px 30px;
  position: relative;
}

.cardImg {
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #7611f7;
  /* filter: blur(8px); */
}

.card > h3 {
  position: absolute;
  top: 27%;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  word-spacing: 2.8px;
  line-height: 2rem;
  text-transform: capitalize;
}

.card > p {
  padding: 0 20px 0 0;
  position: absolute;
  top: 40%;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  word-spacing: 2.1px;
  line-height: 2rem;
  text-transform: capitalize;
}

.bottom {
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 30px;
  width: 96%;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left > h2 {
  margin-bottom: 0;
  padding: 20px;
  margin-top: 0;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  word-spacing: 2.2px;
  text-transform: uppercase;
}

.left > img {
  height: 3rem;
  margin-top: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.right > img {
  height: 200px;
}
