@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url(./images/c7wbg.jpg);
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: #160d21;
  background: url(./images/c7wbg.jpg);
}

body::-webkit-scrollbar-thumb {
  background-color: #7611f7;
  border-radius: 10px;
}
