.container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-transform: uppercase;
}

.block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  max-width: 580px;
  padding: 40px;
}

.services {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.services > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #7611f7;
  margin-right: 25px;
}

.services > span {
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  word-spacing: 3px;
  line-height: 2rem;
  text-transform: capitalize;
}

.right {
  max-width: 450px;
  padding: 40px;
}

.right > img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #7611f7;
  margin-bottom: 40px;
}

.bottom {
  margin-top: 60px;
  width: 100%;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #7611f7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.discription {
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  word-spacing: 3px;
  line-height: 2rem;
  text-transform: capitalize;
}

.forMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.forMore > span {
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  word-spacing: 3px;
  line-height: 2rem;
  text-transform: capitalize;
  margin-right: 20px;
}

.forMore > img {
  height: 3.5rem;
  cursor: pointer;
}
